<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="header bg-primary d-flex justify-between align-items-center">
      <h1>
        <a href="index.html" class="logo hoverLink-opacity-5">Glasses 公司</a>
      </h1>
      <ul class="headerNav d-flex flex-wrap">
        <li class="headerNav-item">
          <a href="ProductOP.html" class="headerNav-link hoverLink-yellow"
            >系列鏡框</a
          >
        </li>
        <li class="headerNav-item">
          <a href="location.html" class="headerNav-link hoverLink-yellow"
            >門市據點</a
          >
        </li>
        <li class="headerNav-item">
          <a href="blog.html" class="headerNav-link hoverLink-yellow">部落格</a>
        </li>
        <li class="headerNav-item">
          <a href="faq.html" class="headerNav-link hoverLink-yellow"
            >常見問題</a
          >
        </li>
      </ul>
    </header>

    <%- contents %>

    <footer class="footer bg-primary pt-10 py-md-11 pt-sm-6 pb-sm-5">
      <div class="container">
        <div class="d-flex justify-between">
          <div class="footerContent">
            <ul class="footerNav d-flex">
              <li class="footerNav-item">
                <a href="index.html" class="footerNav-link hoverLink-yellow"
                  >首頁</a
                >
              </li>
              <li class="footerNav-item">
                <a href="ProductOP.html" class="footerNav-link hoverLink-yellow"
                  >系列鏡框</a
                >
              </li>
              <li class="footerNav-item">
                <a href="location.html" class="footerNav-link hoverLink-yellow"
                  >門市據點</a
                >
              </li>
              <li class="footerNav-item">
                <a href="blog.html" class="footerNav-link hoverLink-yellow"
                  >部落格</a
                >
              </li>
              <li class="footerNav-item">
                <a href="faq.html" class="footerNav-link hoverLink-yellow"
                  >常見問題</a
                >
              </li>
            </ul>
            <ul class="footerContact">
              <li class="footerContact-item d-flex align-items-center">
                <img
                  class="footerContact-icon"
                  src="https://raw.githubusercontent.com/stevecyj/webLayoutTraining1st/master/week3/phone_white_36dp.svg"
                  alt="phone icon"
                />
                <a
                  class="footerContact-link hoverLink-yellow"
                  href="tel:+0800-000-000"
                  >0800-000-000</a
                >
              </li>
              <li class="footerContact-item d-flex align-items-center">
                <img
                  class="footerContact-icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg"
                  alt="mail icon"
                />
                <a
                  class="footerContact-link hoverLink-yellow"
                  href="mailto:glasses@business.com"
                  >glasses@business.com</a
                >
              </li>
            </ul>
          </div>
          <ul class="footerSocial d-flex">
            <li class="footerSocial-item">
              <a class="footerSocial-link" href="#" target="_blank">
                <img
                  class="footerSocial-icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg"
                  alt="FB icon"
                />
              </a>
            </li>
            <li class="footerSocial-item">
              <a class="footerSocial-link" href="#" target="_blank">
                <img
                  class="footerSocial-icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg"
                  alt="IG icon"
                />
              </a>
            </li>
            <li class="footerSocial-item">
              <a class="footerSocial-link" href="#" target="_blank">
                <img
                  class="footerSocial-icon"
                  src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg"
                  alt="Line icon"
                />
              </a>
            </li>
          </ul>
        </div>
        <hr class="border-b border-white mt-2 mb-9 my-md-4" />
        <!-- Copyright -->
        <div
          class="
            footerBelow
            d-flex
            flex-wrap
            justify-between
            align-items-center
          "
        >
          <div class="copyright d-flex align-items-center">
            <p class="copyright-text text-white">
              Copyright © 2020 Glasses.All rights reserved.
            </p>
          </div>
          <div class="terms d-flex justify-between align-items-end">
            <ul class="termsBody d-flex flex-wrap">
              <li class="termsBody-item">
                <a class="termsBody-link" href="#" target="_blank"
                  >隱私權政策</a
                >
              </li>
              <li class="termsBody-item">
                <a class="termsBody-link" href="#" target="_blan k">服務條款</a>
              </li>
            </ul>
            <img
              class="termsBody-logo"
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true"
              alt="Glasses Logo"
            />
          </div>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
