@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap");
body {
  font-family: "Noto Sans", "Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 24px;
}
// Header
.header {
  padding: 30px 88px;
  .logo {
    display: block;
    background: url(https://raw.githubusercontent.com/stevecyj/webLayoutTraining1st/master/week3/logo.png)
      no-repeat;
    width: 80px;
    height: 48px;
    background-size: cover;
    white-space: nowrap;
    text-indent: 101%;
    overflow: hidden;
  }
  &Nav {
    text-align: center;
    &-link {
      display: block;
      color: #fff;
      font-size: 20px;
      line-height: 28px;
      padding-left: 40px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  @include pad {
    padding: 30px 39px;
  }
  @include mobile {
    padding: 0;
    flex-direction: column;
    .logo {
      width: 48px;
      height: 29px;
      margin: 10px 0;
    }
    &Nav {
      width: 100%;
      &-item {
        width: 50%;
        border: 1px solid #fff;
      }
      &-link {
        padding: 8px 0;
        &:hover {
          background: $secondary;
          opacity: 1;
        }
      }
    }
  }
}
// Footer
.footer {
  &Nav {
    margin-bottom: 36px;
    &-link {
      display: block;
      color: $white;
      line-height: 22px;
      padding-right: 48px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &Contact {
    &-item {
      margin-bottom: 19px;
    }
    &-icon {
      width: 44px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 17px;
    }
    &-link {
      display: block;
      font-family: "Roboto";
      color: $white;
      font-size: 36px;
      line-height: 48px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &Social {
    &-item {
      margin-right: 32px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    &-link {
      display: block;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  @include pad {
    &Nav {
      margin-bottom: 26px;
      &-link {
        padding-right: 40px;
      }
    }
    &Contact {
      &-item {
        margin-bottom: 8px;
      }
      &-icon {
        width: 24px;
        margin-right: 12px;
      }
      &-link {
        font-size: 20px;
        line-height: 26px;
      }
    }
    &Social {
      &-item {
        margin-right: 24px;
      }
      &-icon {
        width: 24px;
      }
    }
  }
  @include mobile {
    &Nav {
      display: none;
    }
    &Contact {
      &-icon {
        width: 20px;
      }
      &-link {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
}
.footerBelow {
  @include mobile {
    .copyright {
      width: 100%;
    }
    .terms {
      width: 100%;
    }
  }
}
.copyright {
  &-logo {
    margin-right: 38px;
  }
  &-text {
    font-family: "Roboto";
    line-height: 21px;
  }
  @include pad {
    &-logo {
      display: none;
    }
  }
  @include mobile {
    margin-bottom: 7px;
  }
}
.terms {
  &Body {
    &-item {
      margin-right: 62px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
    &-link {
      display: block;
      color: $white;
      font-size: 14px;
      line-height: 20px;
      &:hover {
        opacity: 0.6;
      }
    }
    &-logo {
      display: none;
    }
    @include pad {
      &-item {
        margin-right: 24px;
      }
    }
    @include mobile {
      &-item {
        width: 50%;
      }
      &-logo {
        display: block;
        width: 46px;
      }
    }
  }
}
