// Font Size
.text {
  &-sm {
    font-size: $text-sm;
  }
  &-base {
    font-size: $text-base;
  }
  &-lg {
    font-size: $text-lg;
  }
  &-xl {
    font-size: $text-xl;
  }
  &-2xl {
    font-size: $text-2xl;
  }
  &-3xl {
    font-size: $text-3xl;
  }
  &-4xl {
    font-size: $text-4xl;
  }
  &-5xl {
    font-size: $text-5xl;
  }
  &-6xl {
    font-size: $text-6xl;
  }
  &-7xl {
    font-size: $text-7xl;
  }
}
//text color
.text {
  &-primary {
    color: $primary;
  }
  &-secondary {
    color: $secondary;
  }
  &-light {
    color: $light;
  }
  &-dark {
    color: $dark;
  }
  &-white {
    color: $white;
  }
  &-gray-100 {
    color: $gray-100;
  }
  &-gray-200 {
    color: $gray-200;
  }
  &-gray-300 {
    color: $gray-300;
  }
  &-gray-400 {
    color: $gray-400;
  }
  &-gray-500 {
    color: $gray-500;
  }
  &-gray-600 {
    color: $gray-600;
  }
  &-orange-600 {
    color: $orange-600;
  }
  &-orange-800 {
    color: $orange-800;
  }
}

//Link hover
.hoverLink-opacity-5:hover {
  opacity: 0.5;
}
.hoverLink-yellow:hover {
  color: $yellow;
  transition: color 1s ease;
}

//Bg Color
.bg {
  &-light {
    background: $light;
  }
  &-primary {
    background: $primary;
  }
  &-secondary {
    background: $secondary;
  }
  &-darkBrown {
    background: $orange-800;
  }
  &-lightBrown {
    background: $orange-600;
  }
}
//Border
.border {
  border-width: 1px;
  border-style: solid;
  &-t {
    border-width: 1px 0 0 0;
    border-style: solid;
  }
  &-b {
    border-width: 0 0 1px 0;
    border-style: solid;
  }
}
//Border color
.border {
  &-dark {
    border-color: $dark;
  }
  &-gray-200 {
    border-color: $gray-200;
  }
  &-white {
    border-color: $white;
  }
}

//Flex
.d-flex {
  display: flex;
}
.flex {
  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
  &-column {
    flex-direction: column;
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}
.justify {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}
.align {
  &-items-start {
    align-items: flex-start;
  }
  &-items-end {
    align-items: flex-end;
  }
  &-items-center {
    align-items: center;
  }
  &-items-baseline {
    align-items: baseline;
  }
}
//Spacing

//margin
.m {
  //mt
  &t-0,
  &y-0 {
    margin-top: 0;
  }
  &t-1,
  &y-1 {
    margin-top: $space-1;
  }
  &t-2,
  &y-2 {
    margin-top: $space-2;
  }
  &t-3,
  &y-3 {
    margin-top: $space-3;
  }
  &t-4,
  &y-4 {
    margin-top: $space-4;
  }
  &t-5,
  &y-5 {
    margin-top: $space-5;
  }
  &t-6,
  &y-6 {
    margin-top: $space-6;
  }
  &t-7,
  &y-7 {
    margin-top: $space-7;
  }
  &t-8,
  &y-8 {
    margin-top: $space-8;
  }
  &t-9,
  &y-9 {
    margin-top: $space-9;
  }
  &t-10,
  &y-10 {
    margin-top: $space-10;
  }
  &t-11,
  &y-11 {
    margin-top: $space-11;
  }
  &t-12,
  &y-12 {
    margin-top: $space-12;
  }
  &t-13,
  &y-13 {
    margin-top: $space-13;
  }
  &t-14,
  &y-14 {
    margin-top: $space-14;
  }
  &t-15,
  &y-15 {
    margin-top: $space-15;
  }
  &t-16,
  &y-16 {
    margin-top: $space-16;
  }
  @include pad {
    &t-md-0,
    &y-md-0 {
      margin-top: 0;
    }
    &t-md-1,
    &y-md-1 {
      margin-top: $space-1;
    }
    &t-md-2,
    &y-md-2 {
      margin-top: $space-2;
    }
    &t-md-3,
    &y-md-3 {
      margin-top: $space-3;
    }
    &t-md-4,
    &y-md-4 {
      margin-top: $space-4;
    }
    &t-md-5,
    &y-md-5 {
      margin-top: $space-5;
    }
    &t-md-6,
    &y-md-6 {
      margin-top: $space-6;
    }
    &t-md-7,
    &y-md-7 {
      margin-top: $space-7;
    }
    &t-md-8,
    &y-md-8 {
      margin-top: $space-8;
    }
    &t-md-9,
    &y-md-9 {
      margin-top: $space-9;
    }
    &t-md-10,
    &y-md-10 {
      margin-top: $space-10;
    }
    &t-md-11,
    &y-md-11 {
      margin-top: $space-11;
    }
    &t-md-12,
    &y-md-12 {
      margin-top: $space-12;
    }
    &t-md-13,
    &y-md-13 {
      margin-top: $space-13;
    }
    &t-md-14,
    &y-md-14 {
      margin-top: $space-14;
    }
    &t-md-15,
    &y-md-15 {
      margin-top: $space-15;
    }
    &t-md-16,
    &y-md-16 {
      margin-top: $space-16;
    }
  }
  @include mobile {
    &t-sm-0,
    &y-sm-0 {
      margin-top: 0;
    }
    &t-sm-1,
    &y-sm-1 {
      margin-top: $space-1;
    }
    &t-sm-2,
    &y-sm-2 {
      margin-top: $space-2;
    }
    &t-sm-3,
    &y-sm-3 {
      margin-top: $space-3;
    }
    &t-sm-4,
    &y-sm-4 {
      margin-top: $space-4;
    }
    &t-sm-5,
    &y-sm-5 {
      margin-top: $space-5;
    }
    &t-sm-6,
    &y-sm-6 {
      margin-top: $space-6;
    }
    &t-sm-7,
    &y-sm-7 {
      margin-top: $space-7;
    }
    &t-sm-8,
    &y-sm-8 {
      margin-top: $space-8;
    }
    &t-sm-9,
    &y-sm-9 {
      margin-top: $space-9;
    }
    &t-sm-10,
    &y-sm-10 {
      margin-top: $space-10;
    }
    &t-sm-11,
    &y-sm-11 {
      margin-top: $space-11;
    }
    &t-sm-12,
    &y-sm-12 {
      margin-top: $space-12;
    }
    &t-sm-13,
    &y-sm-13 {
      margin-top: $space-13;
    }
    &t-sm-14,
    &y-sm-14 {
      margin-top: $space-14;
    }
    &t-sm-15,
    &y-sm-15 {
      margin-top: $space-15;
    }
    &t-sm-16,
    &y-sm-16 {
      margin-top: $space-16;
    }
  }

  //mb
  &b-0,
  &y-0 {
    margin-bottom: 0;
  }
  &b-1,
  &y-1 {
    margin-bottom: $space-1;
  }
  &b-2,
  &y-2 {
    margin-bottom: $space-2;
  }
  &b-3,
  &y-3 {
    margin-bottom: $space-3;
  }
  &b-4,
  &y-4 {
    margin-bottom: $space-4;
  }
  &b-5,
  &y-5 {
    margin-bottom: $space-5;
  }
  &b-6,
  &y-6 {
    margin-bottom: $space-6;
  }
  &b-7,
  &y-7 {
    margin-bottom: $space-7;
  }
  &b-8,
  &y-8 {
    margin-bottom: $space-8;
  }
  &b-9,
  &y-9 {
    margin-bottom: $space-9;
  }
  &b-10,
  &y-10 {
    margin-bottom: $space-10;
  }
  &b-11,
  &y-11 {
    margin-bottom: $space-11;
  }
  &b-12,
  &y-12 {
    margin-bottom: $space-12;
  }
  &b-13,
  &y-13 {
    margin-bottom: $space-13;
  }
  &b-14,
  &y-14 {
    margin-bottom: $space-14;
  }
  &b-15,
  &y-15 {
    margin-bottom: $space-15;
  }
  &b-16,
  &y-16 {
    margin-bottom: $space-16;
  }
  @include pad {
    &b-md-0,
    &y-md-0 {
      margin-bottom: 0;
    }
    &b-md-1,
    &y-md-1 {
      margin-bottom: $space-1;
    }
    &b-md-2,
    &y-md-2 {
      margin-bottom: $space-2;
    }
    &b-md-3,
    &y-md-3 {
      margin-bottom: $space-3;
    }
    &b-md-4,
    &y-md-4 {
      margin-bottom: $space-4;
    }
    &b-md-5,
    &y-md-5 {
      margin-bottom: $space-5;
    }
    &b-md-6,
    &y-md-6 {
      margin-bottom: $space-6;
    }
    &b-md-7,
    &y-md-7 {
      margin-bottom: $space-7;
    }
    &b-md-8,
    &y-md-8 {
      margin-bottom: $space-8;
    }
    &b-md-9,
    &y-md-9 {
      margin-bottom: $space-9;
    }
    &b-md-10,
    &y-md-10 {
      margin-bottom: $space-10;
    }
    &b-md-11,
    &y-md-11 {
      margin-bottom: $space-11;
    }
    &b-md-12,
    &y-md-12 {
      margin-bottom: $space-12;
    }
    &b-md-13,
    &y-md-13 {
      margin-bottom: $space-13;
    }
    &b-md-14,
    &y-md-14 {
      margin-bottom: $space-14;
    }
    &b-md-15,
    &y-md-15 {
      margin-bottom: $space-15;
    }
    &b-md-16,
    &y-md-16 {
      margin-bottom: $space-16;
    }
  }
  @include mobile {
    &b-sm-0,
    &y-sm-0 {
      margin-bottom: 0;
    }
    &b-sm-1,
    &y-sm-1 {
      margin-bottom: $space-1;
    }
    &b-sm-2,
    &y-sm-2 {
      margin-bottom: $space-2;
    }
    &b-sm-3,
    &y-sm-3 {
      margin-bottom: $space-3;
    }
    &b-sm-4,
    &y-sm-4 {
      margin-bottom: $space-4;
    }
    &b-sm-5,
    &y-sm-5 {
      margin-bottom: $space-5;
    }
    &b-sm-6,
    &y-sm-6 {
      margin-bottom: $space-6;
    }
    &b-sm-7,
    &y-sm-7 {
      margin-bottom: $space-7;
    }
    &b-sm-8,
    &y-sm-8 {
      margin-bottom: $space-8;
    }
    &b-sm-9,
    &y-sm-9 {
      margin-bottom: $space-9;
    }
    &b-sm-10,
    &y-sm-10 {
      margin-bottom: $space-10;
    }
    &b-sm-11,
    &y-sm-11 {
      margin-bottom: $space-11;
    }
    &b-sm-12,
    &y-sm-12 {
      margin-bottom: $space-12;
    }
    &b-sm-13,
    &y-sm-13 {
      margin-bottom: $space-13;
    }
    &b-sm-14,
    &y-sm-14 {
      margin-bottom: $space-14;
    }
    &b-sm-15,
    &y-sm-15 {
      margin-bottom: $space-15;
    }
    &b-sm-16,
    &y-sm-16 {
      margin-bottom: $space-16;
    }
  }
  //ml、mx
  &l-auto,
  &x-auto {
    margin-left: auto;
  }
  &l-0 {
    margin-left: 0;
  }
  &l-1 {
    margin-left: $space-1;
  }
  &l-2 {
    margin-left: $space-2;
  }
  &l-3 {
    margin-left: $space-3;
  }
  &l-4 {
    margin-left: $space-4;
  }
  &l-5 {
    margin-left: $space-5;
  }
  &l-6 {
    margin-left: $space-6;
  }
  &l-7 {
    margin-left: $space-7;
  }
  &l-8 {
    margin-left: $space-8;
  }
  &l-9 {
    margin-left: $space-9;
  }
  &l-10 {
    margin-left: $space-10;
  }
  &l-11 {
    margin-left: $space-11;
  }
  &l-12 {
    margin-left: $space-12;
  }
  &l-13 {
    margin-left: $space-13;
  }
  &l-14 {
    margin-left: $space-14;
  }
  &l-15 {
    margin-left: $space-15;
  }
  &l-16 {
    margin-left: $space-16;
  }
  @include pad {
    &l-md-auto,
    &x-md-auto {
      margin-left: auto;
    }
    &l-md-0 {
      margin-left: 0;
    }
    &l-md-1 {
      margin-left: $space-1;
    }
    &l-md-2 {
      margin-left: $space-2;
    }
    &l-md-3 {
      margin-left: $space-3;
    }
    &l-md-4 {
      margin-left: $space-4;
    }
    &l-md-5 {
      margin-left: $space-5;
    }
    &l-md-6 {
      margin-left: $space-6;
    }
    &l-md-7 {
      margin-left: $space-7;
    }
    &l-md-8 {
      margin-left: $space-8;
    }
    &l-md-9 {
      margin-left: $space-9;
    }
    &l-md-10 {
      margin-left: $space-10;
    }
    &l-md-11 {
      margin-left: $space-11;
    }
    &l-md-12 {
      margin-left: $space-12;
    }
    &l-md-13 {
      margin-left: $space-13;
    }
    &l-md-14 {
      margin-left: $space-14;
    }
    &l-md-15 {
      margin-left: $space-15;
    }
    &l-md-16 {
      margin-left: $space-16;
    }
  }
  @include mobile {
    &l-sm-auto,
    &x-sm-auto {
      margin-left: auto;
    }
    &l-sm-0 {
      margin-left: 0;
    }
    &l-sm-1 {
      margin-left: $space-1;
    }
    &l-sm-2 {
      margin-left: $space-2;
    }
    &l-sm-3 {
      margin-left: $space-3;
    }
    &l-sm-4 {
      margin-left: $space-4;
    }
    &l-sm-5 {
      margin-left: $space-5;
    }
    &l-sm-6 {
      margin-left: $space-6;
    }
    &l-sm-7 {
      margin-left: $space-7;
    }
    &l-sm-8 {
      margin-left: $space-8;
    }
    &l-sm-9 {
      margin-left: $space-9;
    }
    &l-sm-10 {
      margin-left: $space-10;
    }
    &l-sm-11 {
      margin-left: $space-11;
    }
    &l-sm-12 {
      margin-left: $space-12;
    }
    &l-sm-13 {
      margin-left: $space-13;
    }
    &l-sm-14 {
      margin-left: $space-14;
    }
    &l-sm-15 {
      margin-left: $space-15;
    }
    &l-sm-16 {
      margin-left: $space-16;
    }
  }

  &r-auto,
  &x-auto {
    margin-right: auto;
  }
  &r-0 {
    margin-right: 0;
  }
  &r-1 {
    margin-right: $space-1;
  }
  &r-2 {
    margin-right: $space-2;
  }
  &r-3 {
    margin-right: $space-3;
  }
  &r-4 {
    margin-right: $space-4;
  }
  &r-5 {
    margin-right: $space-5;
  }
  &r-6 {
    margin-right: $space-6;
  }
  &r-7 {
    margin-right: $space-7;
  }
  &r-8 {
    margin-right: $space-8;
  }
  &r-9 {
    margin-right: $space-9;
  }
  &r-10 {
    margin-right: $space-10;
  }
  &r-11 {
    margin-right: $space-11;
  }
  &r-12 {
    margin-right: $space-12;
  }
  &r-13 {
    margin-right: $space-13;
  }
  &r-14 {
    margin-right: $space-14;
  }
  &r-15 {
    margin-right: $space-15;
  }
  &r-16 {
    margin-right: $space-16;
  }
  @include pad {
    &r-md-auto,
    &x-md-auto {
      margin-right: auto;
    }
    &r-md-0 {
      margin-right: 0;
    }
    &r-md-1 {
      margin-right: $space-1;
    }
    &r-md-2 {
      margin-right: $space-2;
    }
    &r-md-3 {
      margin-right: $space-3;
    }
    &r-md-4 {
      margin-right: $space-4;
    }
    &r-md-5 {
      margin-right: $space-5;
    }
    &r-md-6 {
      margin-right: $space-6;
    }
    &r-md-7 {
      margin-right: $space-7;
    }
    &r-md-8 {
      margin-right: $space-8;
    }
    &r-md-9 {
      margin-right: $space-9;
    }
    &r-md-10 {
      margin-right: $space-10;
    }
    &r-md-11 {
      margin-right: $space-11;
    }
    &r-md-12 {
      margin-right: $space-12;
    }
    &r-md-13 {
      margin-right: $space-13;
    }
    &r-md-14 {
      margin-right: $space-14;
    }
    &r-md-15 {
      margin-right: $space-15;
    }
    &r-md-16 {
      margin-right: $space-16;
    }
  }
  @include mobile {
    &r-sm-auto,
    &x-sm-auto {
      margin-right: auto;
    }
    &r-sm-0 {
      margin-right: 0;
    }
    &r-sm-1 {
      margin-right: $space-1;
    }
    &r-sm-2 {
      margin-right: $space-2;
    }
    &r-sm-3 {
      margin-right: $space-3;
    }
    &r-sm-4 {
      margin-right: $space-4;
    }
    &r-sm-5 {
      margin-right: $space-5;
    }
    &r-sm-6 {
      margin-right: $space-6;
    }
    &r-sm-7 {
      margin-right: $space-7;
    }
    &r-sm-8 {
      margin-right: $space-8;
    }
    &r-sm-9 {
      margin-right: $space-9;
    }
    &r-sm-10 {
      margin-right: $space-10;
    }
    &r-sm-11 {
      margin-right: $space-11;
    }
    &r-sm-12 {
      margin-right: $space-12;
    }
    &r-sm-13 {
      margin-right: $space-13;
    }
    &r-sm-14 {
      margin-right: $space-14;
    }
    &r-sm-15 {
      margin-right: $space-15;
    }
    &r-sm-16 {
      margin-right: $space-16;
    }
  }
}
//padding
.p {
  //pt、py
  &t-0,
  &y-0 {
    padding-top: 0;
  }
  &t-1,
  &y-1 {
    padding-top: $space-1;
  }
  &t-2,
  &y-2 {
    padding-top: $space-2;
  }
  &t-3,
  &y-3 {
    padding-top: $space-3;
  }
  &t-4,
  &y-4 {
    padding-top: $space-4;
  }
  &t-5,
  &y-5 {
    padding-top: $space-5;
  }
  &t-6,
  &y-6 {
    padding-top: $space-6;
  }
  &t-7,
  &y-7 {
    padding-top: $space-7;
  }
  &t-8,
  &y-8 {
    padding-top: $space-8;
  }
  &t-9,
  &y-9 {
    padding-top: $space-9;
  }
  &t-10,
  &y-10 {
    padding-top: $space-10;
  }
  &t-11,
  &y-11 {
    padding-top: $space-11;
  }
  &t-12,
  &y-12 {
    padding-top: $space-12;
  }
  &t-13,
  &y-13 {
    padding-top: $space-13;
  }
  &t-14,
  &y-14 {
    padding-top: $space-14;
  }
  &t-15,
  &y-15 {
    padding-top: $space-15;
  }
  &t-16,
  &y-16 {
    padding-top: $space-16;
  }
  @include pad {
    &t-md-0,
    &y-md-0 {
      padding-top: 0;
    }
    &t-md-1,
    &y-md-1 {
      padding-top: $space-1;
    }
    &t-md-2,
    &y-md-2 {
      padding-top: $space-2;
    }
    &t-md-3,
    &y-md-3 {
      padding-top: $space-3;
    }
    &t-md-4,
    &y-md-4 {
      padding-top: $space-4;
    }
    &t-md-5,
    &y-md-5 {
      padding-top: $space-5;
    }
    &t-md-6,
    &y-md-6 {
      padding-top: $space-6;
    }
    &t-md-7,
    &y-md-7 {
      padding-top: $space-7;
    }
    &t-md-8,
    &y-md-8 {
      padding-top: $space-8;
    }
    &t-md-9,
    &y-md-9 {
      padding-top: $space-9;
    }
    &t-md-10,
    &y-md-10 {
      padding-top: $space-10;
    }
    &t-md-11,
    &y-md-11 {
      padding-top: $space-11;
    }
    &t-md-12,
    &y-md-12 {
      padding-top: $space-12;
    }
    &t-md-13,
    &y-md-13 {
      padding-top: $space-13;
    }
    &t-md-14,
    &y-md-14 {
      padding-top: $space-14;
    }
    &t-md-15,
    &y-md-15 {
      padding-top: $space-15;
    }
    &t-md-16,
    &y-md-16 {
      padding-top: $space-16;
    }
  }
  @include mobile {
    &t-sm-0,
    &y-sm-0 {
      padding-top: 0;
    }
    &t-sm-1,
    &y-sm-1 {
      padding-top: $space-1;
    }
    &t-sm-2,
    &y-sm-2 {
      padding-top: $space-2;
    }
    &t-sm-3,
    &y-sm-3 {
      padding-top: $space-3;
    }
    &t-sm-4,
    &y-sm-4 {
      padding-top: $space-4;
    }
    &t-sm-5,
    &y-sm-5 {
      padding-top: $space-5;
    }
    &t-sm-6,
    &y-sm-6 {
      padding-top: $space-6;
    }
    &t-sm-7,
    &y-sm-7 {
      padding-top: $space-7;
    }
    &t-sm-8,
    &y-sm-8 {
      padding-top: $space-8;
    }
    &t-sm-9,
    &y-sm-9 {
      padding-top: $space-9;
    }
    &t-sm-10,
    &y-sm-10 {
      padding-top: $space-10;
    }
    &t-sm-11,
    &y-sm-11 {
      padding-top: $space-11;
    }
    &t-sm-12,
    &y-sm-12 {
      padding-top: $space-12;
    }
    &t-sm-13,
    &y-sm-13 {
      padding-top: $space-13;
    }
    &t-sm-14,
    &y-sm-14 {
      padding-top: $space-14;
    }
    &t-sm-15,
    &y-sm-15 {
      padding-top: $space-15;
    }
    &t-sm-16,
    &y-sm-16 {
      padding-top: $space-16;
    }
  }
  //pb、py
  &b-0,
  &y-0 {
    padding-bottom: 0;
  }
  &b-1,
  &y-1 {
    padding-bottom: $space-1;
  }
  &b-2,
  &y-2 {
    padding-bottom: $space-2;
  }
  &b-3,
  &y-3 {
    padding-bottom: $space-3;
  }
  &b-4,
  &y-4 {
    padding-bottom: $space-4;
  }
  &b-5,
  &y-5 {
    padding-bottom: $space-5;
  }
  &b-6,
  &y-6 {
    padding-bottom: $space-6;
  }
  &b-7,
  &y-7 {
    padding-bottom: $space-7;
  }
  &b-8,
  &y-8 {
    padding-bottom: $space-8;
  }
  &b-9,
  &y-9 {
    padding-bottom: $space-9;
  }
  &b-10,
  &y-10 {
    padding-bottom: $space-10;
  }
  &b-11,
  &y-11 {
    padding-bottom: $space-11;
  }
  &b-12,
  &y-12 {
    padding-bottom: $space-12;
  }
  &b-13,
  &y-13 {
    padding-bottom: $space-13;
  }
  &b-14,
  &y-14 {
    padding-bottom: $space-14;
  }
  &b-15,
  &y-15 {
    padding-bottom: $space-15;
  }
  &b-16,
  &y-16 {
    padding-bottom: $space-16;
  }
  @include pad {
    &b-md-0,
    &y-md-0 {
      padding-bottom: 0;
    }
    &b-md-1,
    &y-md-1 {
      padding-bottom: $space-1;
    }
    &b-md-2,
    &y-md-2 {
      padding-bottom: $space-2;
    }
    &b-md-3,
    &y-md-3 {
      padding-bottom: $space-3;
    }
    &b-md-4,
    &y-md-4 {
      padding-bottom: $space-4;
    }
    &b-md-5,
    &y-md-5 {
      padding-bottom: $space-5;
    }
    &b-md-6,
    &y-md-6 {
      padding-bottom: $space-6;
    }
    &b-md-7,
    &y-md-7 {
      padding-bottom: $space-7;
    }
    &b-md-8,
    &y-md-8 {
      padding-bottom: $space-8;
    }
    &b-md-9,
    &y-md-9 {
      padding-bottom: $space-9;
    }
    &b-md-10,
    &y-md-10 {
      padding-bottom: $space-10;
    }
    &b-md-11,
    &y-md-11 {
      padding-bottom: $space-11;
    }
    &b-md-12,
    &y-md-12 {
      padding-bottom: $space-12;
    }
    &b-md-13,
    &y-md-13 {
      padding-bottom: $space-13;
    }
    &b-md-14,
    &y-md-14 {
      padding-bottom: $space-14;
    }
    &b-md-15,
    &y-md-15 {
      padding-bottom: $space-15;
    }
    &b-md-16,
    &y-md-16 {
      padding-bottom: $space-16;
    }
  }
  @include mobile {
    &b-sm-0,
    &y-sm-0 {
      padding-bottom: 0;
    }
    &b-sm-1,
    &y-sm-1 {
      padding-bottom: $space-1;
    }
    &b-sm-2,
    &y-sm-2 {
      padding-bottom: $space-2;
    }
    &b-sm-3,
    &y-sm-3 {
      padding-bottom: $space-3;
    }
    &b-sm-4,
    &y-sm-4 {
      padding-bottom: $space-4;
    }
    &b-sm-5,
    &y-sm-5 {
      padding-bottom: $space-5;
    }
    &b-sm-6,
    &y-sm-6 {
      padding-bottom: $space-6;
    }
    &b-sm-7,
    &y-sm-7 {
      padding-bottom: $space-7;
    }
    &b-sm-8,
    &y-sm-8 {
      padding-bottom: $space-8;
    }
    &b-sm-9,
    &y-sm-9 {
      padding-bottom: $space-9;
    }
    &b-sm-10,
    &y-sm-10 {
      padding-bottom: $space-10;
    }
    &b-sm-11,
    &y-sm-11 {
      padding-bottom: $space-11;
    }
    &b-sm-12,
    &y-sm-12 {
      padding-bottom: $space-12;
    }
    &b-sm-13,
    &y-sm-13 {
      padding-bottom: $space-13;
    }
    &b-sm-14,
    &y-sm-14 {
      padding-bottom: $space-14;
    }
    &b-sm-15,
    &y-sm-15 {
      padding-bottom: $space-15;
    }
    &b-sm-16,
    &y-sm-16 {
      padding-bottom: $space-16;
    }
  }
  //padding left
  &l-0 {
    padding-left: 0;
  }
  &l-1 {
    padding-left: $space-1;
  }
  &l-2 {
    padding-left: $space-2;
  }
  &l-3 {
    padding-left: $space-3;
  }
  &l-4 {
    padding-left: $space-4;
  }
  &l-5 {
    padding-left: $space-5;
  }
  &l-6 {
    padding-left: $space-6;
  }
  &l-7 {
    padding-left: $space-7;
  }
  &l-8 {
    padding-left: $space-8;
  }
  &l-9 {
    padding-left: $space-9;
  }
  &l-10 {
    padding-left: $space-10;
  }
  &l-11 {
    padding-left: $space-11;
  }
  &l-12 {
    padding-left: $space-12;
  }
  &l-13 {
    padding-left: $space-13;
  }
  &l-14 {
    padding-left: $space-14;
  }
  &l-15 {
    padding-left: $space-15;
  }
  &l-16 {
    padding-left: $space-16;
  }
  @include pad {
    &l-md-0 {
      padding-left: 0;
    }
    &l-md-1 {
      padding-left: $space-1;
    }
    &l-md-2 {
      padding-left: $space-2;
    }
    &l-md-3 {
      padding-left: $space-3;
    }
    &l-md-4 {
      padding-left: $space-4;
    }
    &l-md-5 {
      padding-left: $space-5;
    }
    &l-md-6 {
      padding-left: $space-6;
    }
    &l-md-7 {
      padding-left: $space-7;
    }
    &l-md-8 {
      padding-left: $space-8;
    }
    &l-md-9 {
      padding-left: $space-9;
    }
    &l-md-10 {
      padding-left: $space-10;
    }
    &l-md-11 {
      padding-left: $space-11;
    }
    &l-md-12 {
      padding-left: $space-12;
    }
    &l-md-13 {
      padding-left: $space-13;
    }
    &l-md-14 {
      padding-left: $space-14;
    }
    &l-md-15 {
      padding-left: $space-15;
    }
    &l-md-16 {
      padding-left: $space-16;
    }
  }
  @include mobile {
    &l-sm-0 {
      padding-left: 0;
    }
    &l-sm-1 {
      padding-left: $space-1;
    }
    &l-sm-2 {
      padding-left: $space-2;
    }
    &l-sm-3 {
      padding-left: $space-3;
    }
    &l-sm-4 {
      padding-left: $space-4;
    }
    &l-sm-5 {
      padding-left: $space-5;
    }
    &l-sm-6 {
      padding-left: $space-6;
    }
    &l-sm-7 {
      padding-left: $space-7;
    }
    &l-sm-8 {
      padding-left: $space-8;
    }
    &l-sm-9 {
      padding-left: $space-9;
    }
    &l-sm-10 {
      padding-left: $space-10;
    }
    &l-sm-11 {
      padding-left: $space-11;
    }
    &l-sm-12 {
      padding-left: $space-12;
    }
    &l-sm-13 {
      padding-left: $space-13;
    }
    &l-sm-14 {
      padding-left: $space-14;
    }
    &l-sm-15 {
      padding-left: $space-15;
    }
    &l-sm-16 {
      padding-left: $space-16;
    }
  }
  //pr
  &r-0 {
    padding-right: 0;
  }
  &r-1 {
    padding-right: $space-1;
  }
  &r-2 {
    padding-right: $space-2;
  }
  &r-3 {
    padding-right: $space-3;
  }
  &r-4 {
    padding-right: $space-4;
  }
  &r-5 {
    padding-right: $space-5;
  }
  &r-6 {
    padding-right: $space-6;
  }
  &r-7 {
    padding-right: $space-7;
  }
  &r-8 {
    padding-right: $space-8;
  }
  &r-9 {
    padding-right: $space-9;
  }
  &r-10 {
    padding-right: $space-10;
  }
  &r-11 {
    padding-right: $space-11;
  }
  &r-12 {
    padding-right: $space-12;
  }
  &r-13 {
    padding-right: $space-13;
  }
  &r-14 {
    padding-right: $space-14;
  }
  &r-15 {
    padding-right: $space-15;
  }
  &r-16 {
    padding-right: $space-16;
  }
  @include pad {
    &r-md-0 {
      padding-right: 0;
    }
    &r-md-1 {
      padding-right: $space-1;
    }
    &r-md-2 {
      padding-right: $space-2;
    }
    &r-md-3 {
      padding-right: $space-3;
    }
    &r-md-4 {
      padding-right: $space-4;
    }
    &r-md-5 {
      padding-right: $space-5;
    }
    &r-md-6 {
      padding-right: $space-6;
    }
    &r-md-7 {
      padding-right: $space-7;
    }
    &r-md-8 {
      padding-right: $space-8;
    }
    &r-md-9 {
      padding-right: $space-9;
    }
    &r-md-10 {
      padding-right: $space-10;
    }
    &r-md-11 {
      padding-right: $space-11;
    }
    &r-md-12 {
      padding-right: $space-12;
    }
    &r-md-13 {
      padding-right: $space-13;
    }
    &r-md-14 {
      padding-right: $space-14;
    }
    &r-md-15 {
      padding-right: $space-15;
    }
    &r-md-16 {
      padding-right: $space-16;
    }
  }
  @include mobile {
    &r-sm-0 {
      padding-right: 0;
    }
    &r-sm-1 {
      padding-right: $space-1;
    }
    &r-sm-2 {
      padding-right: $space-2;
    }
    &r-sm-3 {
      padding-right: $space-3;
    }
    &r-sm-4 {
      padding-right: $space-4;
    }
    &r-sm-5 {
      padding-right: $space-5;
    }
    &r-sm-6 {
      padding-right: $space-6;
    }
    &r-sm-7 {
      padding-right: $space-7;
    }
    &r-sm-8 {
      padding-right: $space-8;
    }
    &r-sm-9 {
      padding-right: $space-9;
    }
    &r-sm-10 {
      padding-right: $space-10;
    }
    &r-sm-11 {
      padding-right: $space-11;
    }
    &r-sm-12 {
      padding-right: $space-12;
    }
    &r-sm-13 {
      padding-right: $space-13;
    }
    &r-sm-14 {
      padding-right: $space-14;
    }
    &r-sm-15 {
      padding-right: $space-15;
    }
    &r-sm-16 {
      padding-right: $space-16;
    }
  }
}

//高度
.h-100 {
  min-height: 100%;
}

//text-align
.text {
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
}
