// Typography
// Font Size
$font-size-base: 16px;

$text-sm: $font-size-base * 0.875;
$text-base: $font-size-base;
$text-lg: $font-size-base * 1.25;
$text-xl: $font-size-base * 1.5;
$text-2xl: $font-size-base * 1.75;
$text-3xl: $font-size-base * 2;
$text-4xl: $font-size-base * 2.25;
$text-5xl: $font-size-base * 3;
$text-6xl: $font-size-base * 4;
$text-7xl: $font-size-base * 4.5;

// Color system
$black: #000000; //$dark
$white: #ffffff;
$gray-100: #f2f2f2;
$gray-200: #dee2e6;
$gray-300: #ced4da;
$gray-400: #707070;
$gray-500: #555555;
$gray-600: #212529;
$red-100: #fbf2f2; //$light
$red-600: #aa0601; //$primary
$red-800: #650300; //$secondary
$orange-600: #b75929;
$orange-800: #5f3e2d;

$primary: $red-600;
$secondary: $red-800;
$light: $red-100;
$dark: $black;

//space
$space: 16px;
$space-1: $space * 0.25;
$space-2: $space * 0.5;
$space-3: $space * 0.625;
$space-4: $space;
$space-5: $space * 1.25;
$space-6: $space * 1.5;
$space-7: $space * 1.75;
$space-8: $space * 1.875;
$space-9: $space * 2;
$space-10: $space * 2.25;
$space-11: $space * 2.5;
$space-12: $space * 3.75;
$space-13: $space * 4;
$space-14: $space * 4.875;
$space-15: $space * 5;
$space-16: $space * 5.5;
